.pageTitle {
	width: 100%;
	background: var(--color-black);
	padding: 1.5rem;
	display: none;
	margin-block-start: -1rem;

	@media (max-width: 900px) {
		display: block;
	}
}

.pageTitle h1 {
	font-family: var(--font-secondary);
	font-size: 1.5rem;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: var(--color-white);
	padding-inline-start: 0.6rem;
}
