.postContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.post {
	max-width: 14rem;
	padding: 0 1rem;
	position: relative;
	text-align: center;

	@media (max-width: 900px) {
		max-width: 10rem;
	}

	@media (max-width: 600px) {
		max-width: 16rem;
	}
}

.relatedPostTitle {
	font-size: var(--size-16);
	font-family: var(--font-family-primary);
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
	text-align: center;
}

.postImage {
	height: 8rem;
	width: 8rem;
	overflow: hidden;
	position: relative;

	@media (max-width: 900px) {
		max-width: 100%;
	}
}

.postImage:hover {
	filter: brightness(1.1);
}

.postImage img {
	object-fit: cover;
	object-position: 100% 30%;
}

.postTitle {
	font-size: 1.2rem;
	line-height: 1.4;
	font-family: var(--font-secondary);
	font-weight: 600;
	color: var(--color-black);
	text-decoration: none;
	display: inline-block;
	margin-block-end: 2rem;
	text-align: center;
}

.postTitle:hover {
	color: var(--color-gray-primary);
}
