.siteNav {
	background: var(--color-gray-900);
}

.navContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: var(--site-width);
	margin: auto;
	padding-block-start: var(--size-16);

	@media (max-width: 1600px) {
		padding-inline: var(--size-24);
	}
}

.logo {
	font-family: var(--font-logo);
	font-size: 2.4rem;
	color: var(--color-neutral-100);

	@media (max-width: 992px) {
		font-size: var(--size-32);
	}
}

.menu {
	color: var(--color-neutral-100);
	cursor: pointer;
	font-size: var(--size-32);
	display: flex;
	position: relative;

	@media (max-width: 992px) {
		font-size: 1.7rem;
	}

	& svg {
		&:hover {
			color: var(--color-orange);
		}
	}
}

.menuItems {
	& ul {
		display: flex;
		list-style: none;
		gap: var(--size-24);
		margin-inline-end: var(--size-32);

		@media (max-width: 992px) {
			flex-direction: column;
			position: absolute;
			right: 0;
			background: var(--color-gray-900);
		}

		& li {
			font-size: var(--size-16);
			color: var(--color-neutral-100);
			font-family: var(--font-family-secondary);

			& :hover {
				color: var(--color-orange);
			}
		}
	}
}

.hide {
	display: none;
}
