.videoContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5rem;
	margin-block: 1.5rem 3rem;
	padding-inline-end: 1rem;

	@media (max-width: 992px) {
		grid-template-columns: 1fr;
		grid-row-gap: 2.5rem;
	}
}

.video {
	max-width: 100%;

	& iframe {
		@media (max-width: 776px) {
			width: 320px;
			height: 200px;
		}
	}
}

.videoTitle {
	color: var(--color-text);
	font-family: var(--font-family-secondary);
	font-size: var(--size-15);
	line-height: 1.4;
	text-decoration: underline;
}

.videoTitle:hover {
	color: var(--color-orange-500);
}
