.podcastContainer {
	display: flex;
	margin-block: 2rem 4rem;

	@media (max-width: 992px) {
		flex-direction: column;
		margin-block-end: 0;
	}
}

.podcast {
	flex-grow: 1;

	@media (max-width: 992px) {
		margin-block-start: 2rem;
	}
}

.podcastTitle {
	font-family: var(--font-family-secondary);
	font-size: 0.938rem;
	line-height: 1.3;
}

.podcastEpisode {
	font-size: var(--size-16);
	transition:
		all 0.2s ease 0s,
		box-shadow 0.2s ease 0s,
		-webkit-box-shadow 0.2s ease 0s;
	box-shadow:
		var(--color-text) 0px -1px inset,
		var(--color-text) 0px -1px 0px inset;
	text-decoration: none;
	color: var(--color-text);
	display: inline;
	font-weight: var(--font-weight-bold);
}

.podcastEpisode:hover {
	color: var(--color-orange-500);
	box-shadow:
		var(--color-orange-500) 0px -1px inset,
		var(--color-text) 0px -1px 0px inset;
}
