@font-face {
  font-family: 'gilroy-regular';
  src: url('gilroy-regular-webfont.woff2') format('woff2'),
       url('gilroy-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-medium';
  src: url('gilroy-medium-webfont.woff2') format('woff2'),
       url('gilroy-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-extrabold';
  src: url('gilroy-extrabold-webfont.woff2') format('woff2'),
       url('gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tiempos-regular';
  src: url('tiempos-regular-webfont.woff2') format('woff2'),
       url('tiempos-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tiempos-semibold';
  src: url('tiempos-semibold-webfont.woff2') format('woff2'),
       url('tiempos-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
