.homepageIntro {
	background: var(--color-gray-900);
	height: 90vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.headline {
	font-size: 4rem;
	color: #e8e8e8;
	font-weight: 800;
	margin-top: var(--size-40);
}

.contentWrapper {
	max-width: 50rem;
	margin: auto;
	text-align: center;
	color: var(--color-neutral);
}

.seeAllLink {
	color: #6a7684;
	font-size: var(--size-24);
	margin-top: var(--size-60);
	font-weight: 600;
}

.homepageContent {
	max-width: var(--site-width);
	margin: auto;
}

.navWrapper {
	background: var(--color-gray-900);
}
