.container {
	display: flex;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.justifyFlexStart {
	justify-content: flex-start;
}

.justifyFlexEnd {
	justify-content: flex-end;
}

.justifyCenter {
	justify-content: center;
}

.justifySpaceBetween {
	justify-content: space-between;
}

.alignStretch {
	align-items: stretch;
}

.alignFlexStart {
	align-items: flex-start;
}

.alignFlexEnd {
	align-items: flex-end;
}

.alignCenter {
	align-items: center;
}

.nowrap {
	flex-wrap: nowrap;
}

.wrap {
	flex-wrap: wrap;
}

@media (max-width: 776px) {
	.responsive {
		flex-direction: column;
	}
}
