.postBody {
	display: grid;
	max-width: 62rem;
	margin: auto;
	grid-template-columns: 1fr 3fr;
	align-items: start;
	justify-content: space-between;
	gap: var(--size-60);
	margin-block-start: var(--size-40);

	& .postContent {
		max-width: 36.875rem;
	}
}

.socialIcons {
	justify-self: flex-end;

	& a {
		display: block;

		& div {
			border: 1px solid var(--color-gray-light);
			color: var(--color-gray-light);
			border-radius: 50%;
			margin-block-end: 0.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			width: var(--size-40);
			height: var(--size-40);
		}

		&:not(:first-child) {
			@media (max-width: 900px) {
				margin-inline-start: 0.5rem;
			}
		}
	}
}

.socialIcons a .socialIcons a div:hover {
	border: 1px solid var(--color-orange-primary);
}

.socialIcons a div:hover > svg {
	color: var(--color-gray-dark);
}

.socialIcons a div svg {
	width: var(--size-18);
	height: var(--size-18);
	color: var(--color-gray);
}

.commentsWrapper {
	background: #f9f9fc;
	padding-block: 4rem;

	@media (max-width: 900px) {
		margin-block-start: 4rem;
		padding-block-start: 2rem;
	}
}

.copyright {
	display: flex;
	justify-content: center;
	margin-block: 4rem;
	margin-inline: auto;
	max-width: 80rem;
	text-align: center;

	@media (max-width: 900px) {
		max-width: 80%;
	}
}
