.h3 {
	color: var(--color-black);
	font-family: var(--font-primary-bold);
	font-size: var(--size-22);
	margin-block-start: var(--size-46);
}

.p {
	font-size: var(--size-18);
	font-family: var(--font-secondary);
	line-height: 1.4;
	margin-block: var(--size-24);
	letter-spacing: 0.5px;
}

.image {
	margin-block: var(--size-32);

	& img {
		max-width: 85%;
		display: block;
		margin-inline: auto;
	}
}

.caption {
	color: var(--color-gray);
	font-size: var(--size-14);
	margin-block-start: var(--size-10);
	text-align: center;
}

.link {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.blockquote {
	font-family: var(--font-primary-bold);
	font-size: var(--size-24);
	line-height: 1.3;
	color: var(--color-gray-dark);
	letter-spacing: 0.5px;
	margin-block: var(--size-46);
}
