.h3 {
	color: var(--color-text);
	font-family: var(--font-primary-bold);
	font-size: var(--size-22);
	margin-block-start: var(--size-46);
}

.image {
	margin-block: var(--size-32);

	& img {
		width: 100%;
	}
}

.caption {
	font-size: 0.8125rem;
	font-weight: 400;
	margin-block-start: var(--size-8);

	&::after {
		display: block;
		content: '—';
		color: var(--color-gray-500);
	}
}

.p {
	margin-block-end: var(--size-24);
}

.link {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.quoteContainer {
	position: relative;
	margin-block-start: var(--size-42);
	margin-block-end: var(--size-32);
}

.blockquote {
	line-height: 1.35;
	letter-spacing: 0.5px;
	font-family: var(--font-family-secondary);
	font-size: var(--size-24);
	font-weight: 700;
	letter-spacing: -1px;
	margin-block-end: var(--size-16);
}
