.timelineContainer {
	display: flex;
	margin-block-start: 3rem;

	@media (max-width: 996px) {
		flex-direction: column;
		margin-block-start: 0;
	}
}

.pageLeft {
	width: 35%;
	margin-inline-end: 4.5rem;

	@media (max-width: 996px) {
		width: 100%;
		margin-inline-end: 0;
	}
}

.pageLeft p {
	font-size: 1.6rem;
	line-height: 1.6;
	margin-block-end: 2rem;
}

.pageRight {
	width: 65%;

	@media (max-width: 996px) {
		width: 100%;
	}
}

.timeline {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0.6rem 1.6rem;
	list-style: none;

	@media (max-width: 996px) {
		width: 100%;
		padding: 0;
		margin-block-start: 4rem;
	}
}

.timelineItem {
	list-style: none;
	display: flex;
	position: relative;
	min-height: 7rem;
}

.timelineItem:before {
	content: '';
	margin-block-end: 2rem;
}

.timelineSeparator {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.timelineDot {
	display: flex;
	align-self: baseline;
	border-style: solid;
	border-width: 2px;
	padding: 4px;
	border-radius: 50%;
	margin: 1rem 0;
	border-color: transparent;
	color: var(--color-white-secondary);
	background-color: var(--color-background-gray);
}

.timelineConnector {
	width: 0.2rem;
	background-color: var(--color-background-gray);
	flex-grow: 1;
}

.storyMeta {
	text-align: right;
	padding-inline-end: 1.5rem;
	width: 12ch;
}

.storyDate {
	font-size: 2.2rem;
	line-height: 1.5;
	font-family: var(--font-secondary-semibold);
}

.storyLocation {
	font-size: 1.5rem;
	line-height: 1;
	font-family: var(--font-secondary);
	color: #8a8c8f;
}

.storyTitle {
	font-size: 2.4rem;
	line-height: 1;
	letter-spacing: -1px;
	font-family: var(--font-secondary-semibold);
}

.storySummary {
	font-size: 1.5rem;
	line-height: 1.4;
	margin-block-start: 1rem;
	width: 40ch;

	@media (max-width: 600px) {
		width: 100%;
	}
}

.storySummary a {
	color: var(--color-orange-primary);
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

.storySummary a:hover {
	color: var(--color-black);
}

.timelineStory {
	margin: 0;
	font-size: 1.6rem;
	flex: 1;
	padding-block: 0.3rem 10rem;
	padding-inline: 1.6rem;

	@media (max-width: 900px) {
		padding-block: 0.3rem 5rem;
	}
}

.storyContainer {
	display: flex;

	@media (max-width: 900px) {
		flex-direction: column;
		max-width: 85%;
	}
}

.storyImage {
	margin-inline-start: 1.1rem;
	flex-shrink: 0;
	align-self: center;
	height: 9rem;
	width: 9rem;
	border-radius: 50%;
	overflow: hidden;

	@media (max-width: 900px) {
		flex-direction: column;
		align-self: flex-start;
		margin-block-start: 1rem;
		margin-inline-start: 0;
	}
}

.pageTitle {
	font-size: 6.5rem;
	letter-spacing: -3px;
	font-family: var(--font-secondary-semibold);

	@media (max-width: 900px) {
		font-size: 4.5rem;
	}
}

.descriptionBox {
	background: var(--color-white-secondary);
	padding: 4rem;
	margin-block-start: 2rem;

	@media (max-width: 900px) {
		padding: 2rem;
	}
}
