.headerContainer {
	max-width: 120rem;
	margin: auto;
	background: var(--color-white);
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	height: 6rem;
	margin-block-start: 2rem;
	padding-inline: 2rem;

	@media (max-width: 1200px) {
		margin-block-start: 1rem;
	}

	@media (max-width: 600px) {
		margin-block-start: 2rem;
		height: 4rem;
	}
}

.mobileNavIcon {
	display: none;

	@media (max-width: 1200px) {
		display: block;
		position: absolute;
		top: 32px;
		right: 12px;
		z-index: 3;
	} 
}

.mobileNavIcon button {
	position: relative;
	top: -10px;
	background: transparent;
	border: 0;
	cursor: pointer;
	transition: color 0.5s ease 0s;
	color: var(--color-black);
}

.logo {
	font-family: 'Bebas Neue', sans-serif;
	text-decoration: none;
	font-size: 4.4rem;
	background: transparent;
	font-weight: 400;
	margin: 0;
	display: inline;
	transition:
		all 0.1s ease 0s,
		box-shadow 0.1s ease 0s,
		-webkit-box-shadow 0.1s ease 0s;

	@media (max-width: 1200px) {
		font-size: 3.4rem;
	}
}

.logo:hover {
	box-shadow:
		rgb(255 255 255) 0px -20px inset,
		rgb(255 161 88) 0px -34px 0px inset;
}

.navigation {
	display: flex;
}

.navigation ul {
	list-style: none;

	@media (max-width: 1200px) {
		display: none;
	}
}

.navigation ul li {
	display: inline-block;
	margin-inline-start: 2rem;
	font-family: var(--font-secondary-medium);
	font-size: 1.6rem;

	@media (max-width: 600px) {
		margin-block-end: 1.8rem;
		line-height: 1.5;
	}
}

.navigation ul li a {
	text-decoration: none;
}

.navigation ul li a:hover {
	color: var(--color-orange-primary);
}

.active-nav-item {
	border-bottom: 3px solid var(--color-orange-primary);
	width: fit-content;
}

.followLink {
	@media (max-width: 1200px) {
		margin-block-start: 4.5rem;
		font-size: 1.4rem;
		text-transform: uppercase;
		color: var(--color-gray);
	}
}
.icons {
	display: flex;
	justify-content: center;
	margin-block-start: 0.2rem;
	padding-inline-start: 2rem;

	@media (max-width: 1200px) {
		display: none;
	}
}

.icons a svg {
	fill: var(--color-black);
	width: 1.8rem;
	height: 1.8rem;
	margin-inline-start: 0.7rem;
}

.icons a svg:hover {
	fill: var(--color-orange-primary);
}

.mobileSocial {
	display: none;

	@media (max-width: 1200px) {
		display: block;
	}
}

.mobileSocial li a:hover {
	fill: var(--color-orange-primary);
}

.followLink {
	margin-block-start: 4rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: var(--color-gray-primary);
}
