.footerBackground {
	background: var(--color-black);
	font-family: var(--font-secondary);
	padding: 4rem 2rem;
	margin-block-start: 6rem;
}

.contentContainer {
	max-width: 120rem;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	color: var(--color-white);

	@media (max-width: 600px) {
		flex-direction: column;
	}
}

.contentContainer a {
	text-decoration: none;
}

.logo {
	font-family: 'Bebas Neue', sans-serif;
	color: var(--color-white);
	font-size: 3rem;
	line-height: 1;
	display: block;
}

.logo:hover {
	color: var(--color-gray-secondary);
}

.navigation {
	list-style: none;
	align-items: center;

	@media (max-width: 600px) {
		margin-block-start: 2rem;
	}
}

.navigation li {
	display: inline-block;
	margin-inline-start: 1.8rem;
	font-size: 1.4rem;

	@media (max-width: 600px) {
		display: block;
		margin-inline-start: 0;
	}
}

.navigation li a:hover {
	color: var(--color-gray-secondary);
}

.icons {
	text-align: right;

	@media (max-width: 600px) {
		justify-content: flex-start;
		margin-block-start: 1.6rem;
		text-align: left;
	}
}

.icons a:hover {
	color: var(--color-gray-secondary);
}

.icons a svg {
	width: 1.6rem;
	height: 1.6rem;

	@media (max-width: 900px) {
		width: 1.8rem;
		height: 1.8rem;
	}
}
