.assetContainer {
	margin-block-start: var(--size-48);
	display: flex;
	align-items: center;
}

.title {
	color: var(--color-black);
	font-size: var(--size-22);
}

.icon {
	margin-inline-start: var(--size-8);
}
