.siteFooter {
	width: 100%;
	border-top: var(--size-4) solid var(--color-gray-900);
	padding-block: var(--size-24);
	display: flex;
	justify-content: center;
	margin-block-start: var(--size-46);
}

.footerContent {
	max-width: var(--site-width);
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: var(--color-text);
	@media (max-width: 600px) {
		flex-direction: column;
		padding-inline: var(--size-24);
	}
}

.navigation {
	list-style: none;
	align-items: center;

	@media (max-width: 600px) {
		margin-block-start: 2rem;
	}
}

.navigation li {
	display: inline-block;
	margin-inline-start: 1.8rem;
	font-size: var(--size-16);
	font-family: var(--font-family-secondary);
	font-weight: 700;

	& a {
		text-decoration: none;

		&:hover {
			color: var(--color-orange-500);
		}
	}

	@media (max-width: 600px) {
		display: block;
		margin-inline-start: 0;
	}
}

.copyright {
	font-size: var(--size-16);
	font-family: var(--font-family-secondary);
	font-weight: 500;
}
