/* RESET */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
cite,
small,
strong,
ol,
ul,
li,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* END RESET */

:root {
	--color-white: #ffffff;
	--color-black: #151a1f;
	--color-orange: #e7725a;
	--color-gray: #b1b1b1;

	--font-primary: 'Tiempos Text', serif;
	--font-primary-semibold: 'Tiempos Text Semibold', serif;
	--font-secondary: 'Graphik', Helvetica, Arial, sans-serif;
	--font-secondary-medium: 'Graphik Medium', Helvetica, Arial, sans-serif;
	--font-secondary-semibold: 'Graphik Semibold', Helvetica, Arial, sans-serif;
	--font-tertiary: 'Bebas Neue', Helvetica, Arial, sans-serif;
}

@font-face {
	font-family: 'Neue Hass Grotesk Display Pro';
	font-style: normal;
	font-weight: 500;
	src:
		url('/fonts/neue-haas-grotesk-display-pro.woff2') format('woff2'),
		url('/fonts/neue-haas-grotesk-display-pro.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Suisse';
	font-style: normal;
	font-weight: 500;
	src:
		url('/fonts/suisse-regular.woff2') format('woff2'),
		url('/fonts/suisse-regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Suisse Medium';
	font-style: normal;
	font-weight: 500;
	src:
		url('/fonts/suisse-medium.woff2') format('woff2'),
		url('/fonts/suisse-medium.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Suisse Bold';
	font-style: normal;
	font-weight: 500;
	src:
		url('/fonts/suisse-bold.woff2') format('woff2'),
		url('/fonts/suisse-bold.woff') format('woff');
	font-display: swap;
}

body {
	font-size: 1.6rem;
	font-family: var(--font-primary);
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	overflow-x: hidden;
}

a {
	transition: color 0.2s ease-in-out;
	color: inherit;
	cursor: pointer;
	display: inline-block;
}
