.postHeader {
	height: 40rem;
	width: 100%;
	background: var(--color-gray-900);
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 767px) {
		height: auto;
	}
}

.headerContent {
	margin: auto;
	max-width: 87.5rem;
	padding-inline: var(--size-20);

	@media (max-width: 767px) {
		height: auto;
	}
}

.imageContainer {
	max-width: 37.5rem;
	max-height: 37.5rem;

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media (max-width: 767px) {
		max-width: 80%;
		max-height: auto;
		margin-inline: auto;
		margin-block-start: var(--size-24);
	}
}

.titleContainer {
	& .title {
		font-weight: 700;
		color: var(--color-neutral-100);
		margin-block-start: var(--size-10);
	}

	& .metaData {
		color: var(--color-gray-200);
		font-family: var(--font-family-secondary);
		font-size: var(--size-14);
		margin-block-start: var(--size-46);
		margin-block-end: var(--size-32);
	}

	& .divider {
		font-size: var(--size-10);
		color: #606772;
	}
}

.flexContainer {
	display: flex;
	gap: var(--size-60);

	@media (max-width: 767px) {
		flex-direction: column;
		gap: var(--size-32);
	}
}
